name: ci_django

on: 
 push:
  branches: main

jobs:
 test:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout code
     uses: actions/checkout@v4 #Récupère le code sur le dépôt

   - name: Setup Python #Installe python
     uses: actions/setup-python@v5
     with:
      python-version: '3.11'
   
   - name: Install dependencies
     run: |
      python -m pip install --upgrade pip
      pip install -r NewIsAlwaysBetter/requirements-dev.txt
      pip install -r NewIsAlwaysBetter/requirements.txt
   
   - name: Run tests with pytest
     run: pytest NewIsAlwaysBetter/tests/
